{% if mikrotik_interfaces['delete_all_bridge_interfaces'] == true %}
# Deleting bridge ports
/interface bridge port remove [/interface bridge port find ]

# Deleting bridge interfaces
/interface bridge remove [/interface bridge find]
{% endif %}


{% if mikrotik_interfaces['bridges'][0] is defined %}

# Delete not defined interfaces ports by bridge interface name
{% set not_first_in_loop = namespace(first = false) %}
/interface bridge port remove [/interface bridge port find where !( \
{% for bridge in mikrotik_interfaces['bridges'] %}
{% for member in bridge['member-ports'] %}
{% if not_first_in_loop.first == true %} or {% endif %} (bridge="{{ bridge['name'] }}" and interface="{{ member['interface'] }}") \
{% set not_first_in_loop.first = true %}
{% endfor %}
{% endfor %}
)]

# Delete not defined bridges
/interface bridge remove [/interface bridge find where !( \
{% for bridge in mikrotik_interfaces['bridges'] %}
{% if not loop.first %} or {% endif %} (name="{{ bridge['name'] }}") \
{% endfor %}
)]

# Create new bridge interfaces
{% for bridge in mikrotik_interfaces['bridges'] %}
:if ([/interface bridge find name="{{ bridge['name'] }}"] = "") do={
# Create interface name="{{ bridge['name'] }}"
/interface bridge add name="{{ bridge['name'] }}"
}

# Set parameters for bridge interface
{# Add all supported parameters in future #}
/interface bridge set [/interface bridge find name="{{ bridge['name'] }}"] \
  name="{{ bridge['name'] }}" \
  comment="Ansible managed: [{{ bridge['comment'] }}]"

# Create bridge name="{{ bridge['name'] }}" members
{% for member in bridge['member-ports'] %}
:if ([/interface bridge port find where (bridge="{{ bridge['name'] }}" interface="{{ member['interface'] }}")] = "") do={
# Add member bridge="{{ bridge['name'] }}" interface="{{ member['interface'] }}"
/interface bridge port add bridge="{{ bridge['name'] }}" interface="{{ member['interface'] }}"
}

{# Add all supported parameters in future #}
# Set parameters for bridge="{{ bridge['name'] }}" interface="{{ member['interface'] }}")
/interface bridge port set [/interface bridge port find where (bridge="{{ bridge['name'] }}" interface="{{ member['interface'] }}")] \
  bridge="{{ bridge['name'] }}" \
  interface="{{ member['interface'] }}" \
  comment="Ansible managed: [{{ member['comment'] }}]"
{% endfor %}
{% endfor %}

{% endif %}
