{% if mikrotik_interfaces['reset_ethernet_interfaces'] == true %}
# Reset ethernet interfaces
:foreach interface in [/interface ethernet find] do={
/interface ethernet set $interface \
    name=[/interface ethernet get value-name=default-name $interface] \
    advertise=10M-half,10M-full,100M-half,100M-full,1000M-full \
    arp=enabled \
    arp-timeout=auto \
    auto-negotiation=yes \
    disabled=no \
    full-duplex=yes \
    loop-protect=default \
    loop-protect-disable-time=5m \
    loop-protect-send-interval=5s \
    mtu=1500 \
    speed=100Mbps
}

# End reset ethernet interfaces
{% endif %}


{% if mikrotik_interfaces['ethernets'][0] is defined %}
{% for ethernet in mikrotik_interfaces['ethernets'] %}
/interface ethernet set [/interface ethernet find default-name="{{ ethernet['default-name'] }}"] \
    comment="Ansible managed: [{{ ethernet['comment'] }}]" \
    disabled="{{ ethernet['disabled'] | ternary('yes', 'no') }}" \
    name="{{ ethernet['name'] | default(ethernet['default-name']) }}" \
    advertise="{{ ethernet['advertise'] | default('10M-half,10M-full,100M-half,100M-full,1000M-full') }}" \
    arp="{{ ethernet['arp'] | default('enabled') }}" \
    arp-timeout="{{ ethernet['arp-timeout'] | default('auto') }}" \
    auto-negotiation="{{ ethernet['auto-negotiation'] | default(true) | bool | ternary('yes', 'no') }}" \
    tx-flow-control="{{ ethernet['tx-flow-control'] | default('off') }}" \
    rx-flow-control="{{ ethernet['rx-flow-control'] | default('off') }}" \
    full-duplex="{{ ethernet['full-duplex'] | default(true) | bool | ternary('yes', 'no') }}" \
    mdix-enable="{{ ethernet['mdix-enable'] | default(true) | ternary('yes', 'no') }}" \
    mtu="{{ ethernet['mtu'] | default(1500) }}" \
    speed="{{ ethernet['speed'] | default('100Mbps') }}" \
    loop-protect="{{ ethernet['loop-protect'] | default('default') }}" \
    loop-protect-disable-time="{{ ethernet['loop-protect-disable-time'] | default('5m') }}" \
    loop-protect-send-interval="{{ ethernet['loop-protect-send-interval'] | default('5s') }}"
{% endfor %}
{% endif %}
