{% if mikrotik_interfaces['delete_all_vlan_interfaces'] == true %}
# Delete ALL vlan interfaces

/interface vlan remove [/interface vlan find]

# End deleting vlan interfaces
{% endif %}


{% if mikrotik_interfaces['vlans'][0] is defined %}

# Delete not defined interfaces
/interface vlan remove [/interface vlan find where !( \
{% for vlan in mikrotik_interfaces['vlans'] %}
{% if not loop.first %} or {% endif %} (name="{{ vlan['name'] }}") \
{% endfor %}
)]

# Add new VLANs
{% for vlan in mikrotik_interfaces['vlans'] %}
:if ([/interface vlan find name={{ vlan['name'] }}] = "") do={
# Create VLAN interface {{ vlan['name'] }} on physical interface {{ vlan['interface'] }}
/interface vlan add name="{{ vlan['name'] }}" vlan-id="{{ vlan['vlan-id'] }}" interface="{{ vlan['interface'] }}"
}

# Set parameters for VLAN interface {{ vlan['name'] }} on physical interface {{ vlan['interface'] }}
/interface vlan set [/interface vlan find name="{{ vlan['name'] }}"] \
    name="{{ vlan['name'] | default(vlan['default-name']) }}" \
    comment="Ansible managed: [{{ vlan['comment'] }}]" \
    disabled="{{ vlan['disabled'] | ternary('yes', 'no') }}" \
    interface="{{ vlan['interface'] }}" \
    vlan-id="{{ vlan['vlan-id'] }}" \
    arp="{{ vlan['arp'] | default('enabled') }}" \
    arp-timeout="{{ vlan['arp-timeout'] | default('auto') }}" \
    mtu="{{ vlan['mtu'] | default(1500) }}" \
    use-service-tag="{{ vlan['use-service-tag'] | default(false) | bool | ternary('yes', 'no') }}"

{% endfor %}
{% endif %}
